{% extends 'main/layout.html' %}

{% block title %}Изменить{% endblock %}

{% block content %}
<div class="addset">
    <form method="post" class="add-printer-form">
        {% csrf_token %}
        <div class="formsetting">{{ form.inv_num }}</div>
        <div class="formsetting">{{ form.serial }}</div>
        <div class="formsetting">{{ form.prod_mod_dev }}</div>
        <div class="formsetting">{{ form.building }}</div>
        <div class="formsetting">{{ form.location }}</div>
        <div class="formsetting">{{ form.note }}</div>
        <div class="formsetting">{{ form.hostname }}</div>
        <div class="formsetting">{{ form.ip_add }}</div>
        <!-- {{ form.as_p }} -->
        <span>{{ error }}</span>
        <!-- {{ form.inv_num }}<br> -->
        <div class="btn-add-device"><button class="btn btn-success" type="submit">Обновить устройство</button></div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </form>
    </form>
</div>

{% endblock %}