{% extends 'main/layout.html' %}

{% block title %}Все устройства{% endblock %}

{% block content %}

<div class='table-set'>
    <table>
        <thead>
            <tr>
                <!-- <th>№</th> -->
                <th>Инвентарный номер</th>
                <th>Аппарат</th>
                <th>Серийный номер</th>
                <th>Расходный материал</th>
                <th>Корпус</th>
                <th>Расположение</th>
                <th>Примечание</th>
                <th>Hostname</th>
                <th>ip-адрес</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices.qs %}
            <tr>
                <td>{{ device.inv_num }}</td>
                <td>{{ device.prod_mod_dev }}</td>
                <td>{{ device.serial }}</td>
                <td>
                    {% for cartridge in device.prod_mod_dev.model.all %}
                    {{ cartridge.cartridge }}<br>
                    {% endfor %}
                </td>
                <td>{{ device.building }}</td>
                <td>{{ device.location }}</td>
                <td>{{ device.note }}</td>
                <td>{{ device.hostname }}</td>
                <td>{{ device.ip_add }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="filter-device">
    <form method="get" class="custom-form">
        {{ devices.form.as_p }}
        <button class="btn btn-success" type="submit">Фильтровать</button>
    </form>
</div>


{% endblock %}