{% extends 'main/layout.html' %}

{% block title %}{{ device.inv_num }}{% endblock %}

{% block content %}

<div class="detail-info">
    <div class="detail-device">
        <h1>{{ device.inv_num }}</h1>
        <p class="serial">Серийный номер: {{ device.serial }}</p>
        <p class="model">Модель: {{ device.prod_mod_dev }}</p>
        <p class="location">Корпус: {{ device.building }}, Расположение: {{ device.location }}</p>
        <p class="note">Примечание: {{ device.note }}</p>
        <p class="hostname">Hostname: <a href='http://{{ device.hostname }}.dvfu.ru' target="_blank">
                {{ device.hostname}}</a></p>
        <p class="ip">IP-адрес: <a href='http://{{ device.ip_add }}' target="_blank">{{ device.ip_add }}</a></p>

        <div class="cartridges">
            <h2>Совместимые картриджи:</h2>
            <ul>
                {% for cartridge in cartridges %}
                <li>{{ cartridge.cartridge }}</li>
                {% empty %}
                <li>Нет совместимых картриджей.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="actions">
            <a href="{% url 'device-delete' device.id %}" class="btn btn-danger">Удалить устройство</a>
            <a href="{% url 'device-update' device.id %}" class="btn btn-info">Редактировать</a>
        </div>
    </div>

    <div class="describe-window">
        <!-- <h3>Описание</h3> -->
        <form method="post" action="{% url 'update-descr' device.id %}" id="description-form">
            {% csrf_token %}
            <div class="toolbar">
                <button type="button" onclick="formatText('bold')"><strong>B</strong></button>
                <button type="button" onclick="formatText('italic')"><em>I</em></button>
                <button type="button" onclick="formatText('strikeThrough')" title="Зачёркнутый"><s>S</s></button>
                <button type="button" onclick="formatText('insertUnorderedList')">• Список</button>
                <button type="button" onclick="formatText('insertOrderedList')">1. Список</button>
            </div>
            <div id="rich-text-editor" class="editable-content" contenteditable="true"
                placeholder="Добавьте описание...">{{ device.description|default:"" | safe }}
            </div>

            <input type="hidden" name="description" id="hidden-description">
            <button type="submit" class="btn-save-descr">
                <i class="fas fa-save"></i> Записать
            </button>
        </form>
    </div>
    <script>
        function formatText(command) {
            document.execCommand(command, false, null);
            document.getElementById('rich-text-editor').focus();
        }

        document.getElementById('description-form').addEventListener('submit', function (e) {
            const editorContent = document.getElementById('rich-text-editor').innerHTML;
            document.getElementById('hidden-description').value = editorContent;
        });
    </script>
</div>

<div class="sidebar">
    <div class="device-image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjr__O2vAvx27W_uzYxtssdgDugdZNnAKxeA&s"
            alt="Изображение устройства">
    </div>
    <form method="POST" action="{% url 'toggle_favorite' device.pk %}">
        {% csrf_token %}
        <div class="form-check form-switch">
            <input class="form-check-input" type='checkbox' {% if request.user in device.favorite_users.all %} checked
                {% endif %} onchange="this.form.submit();" id="favorite-switch-{{ device.pk }}">
            <label class="form-check-label" for="favorite-switch-{{ device.pk }}">Сделать избранным устройством</label>
        </div>
    </form>
    <a href="{% url 'all-devices' %}" class="btn btn-home">На главную</a>
</div>
</div>
{% endblock %}