<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список устройств</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1>Список устройств</h1>
    <table>
        <thead>
            <tr>
                <th>Инвентарныйss номер</th>
                <th>Серийный номер</th>
                <th>Модель</th>
                <th>Корпус</th>
                <th>Расположение</th>
                <th>Примечание</th>
                <th>Hostname</th>
                <th>IP-адрес</th>
                <th>Картриджи</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr>
                <td>{{ device.inv_num }}</td>
                <td>{{ device.serial }}</td>
                <td>{{ device.prod_mod_dev }}</td>
                <td>{{ device.building }}</td>
                <td>{{ device.location }}</td>
                <td>{{ device.note }}</td>
                <td>{{ device.hostname }}</td>
                <td>{{ device.ip_add }}</td>
                <td>
                    {% for cartridge in device.prod_mod_dev.modeles.all %}
                    {{ cartridge.cartridge }}<br>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>