{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}

<div>
    {% for device in request.user.favorite_devices.all %}
    <div class="alert alert-warning device-card">
        <div class="summary">
            <p><strong>{{ device.inv_num }}</strong></p>
            <p><strong>{{ device.model }}</strong></p>
            <p><strong>{{ device.building }} {{ device.location }}</strong></p>
        </div>
        <div class="details">
            <p><strong>{{ device.serial }}</strong></p>
            <p><strong>{{ device.hostname }}</strong></p>
        </div>
        <a href="{{ device.get_absolute_url }}" class="btn btn-warning">Подробнее</a>

    </div>
    {% endfor %}
</div>

{% endblock %}