{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}

<div class="favorites-container">
    {% for device in request.user.favorite_devices.all %}
    <div class="device-card">
        <h3 class='device-title'>{{ device.inv_num }}</h3>
        <div class="device-meta">{{ device.prod_mod_dev }}</div>
        <p><strong>{{ device.building }} {{ device.location }}</strong></p>
        <div class="btn-more">
            <a href="{{ device.get_absolute_url }}" class="btn btn-warning ">Подробнее</a>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}