{% extends 'main/layout.html' %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div>
        <div class="form-check form-switch">{{ form.note_filter }}</div>
        <label for="{{form.note_filter.id_for_label}}">{{ form.note_filter.label}}<label>
    </div>
    <label for="{{form.default_building.id_for_label}}">{{ form.default_building.label }}</label>
    <div>{{ form.default_building }}</div>
    <p>Чтобы настройки вступили в силу, необходимо сохранить</p>
    <button type="submit">Сохранить</button>
</form>



{% endblock %}