{% extends 'main/layout.html' %}

{% block content %}
<div class="whatsnew-block">
    <div>
        <h3>Версия 1.0.1</h3>
        <li>В разделе добавить устройство в форме "инвентарный номер" расширено количество символов до 17</li>
    </div>
    <div>
        <h3>Версия 1.1.0</h3>
        <li>Добавлены настройки с возможностью выбора по умолчанию зданий</li>
        <li>Добавлено поле поиска "Примечание"</li>
        <li>Примечание можно добавлять\убирать в настройках</li>
        <li>Выполнен редизайн приложения</li>
    </div>
</div>
{% endblock %}